NUXT_SESSION_PASSWORD=

DATABASE_URL=file:./data/app.db

OSS_REGION=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET=
OSS_ENDPOINT=
OSS_PUBLIC_BASE_URL=
OSS_UPLOAD_DIR=electron-updates
OSS_FILE_RELEASE_DIR=files

DOWNLOAD_URL_EXPIRES_SECONDS=600

UPDATE_TOKEN_REQUIRED=false
FILE_UPDATE_TOKEN_REQUIRED=false

CI_API_TOKEN=
